<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography - Welcome in a beautifull world</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Nunito+Sans&family=Roboto+Mono:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="front-page">
        <nav class="navbar">
            <h4>PHOTOGRAPHY</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <h1>Welcome!</h1>
        <p>“Photography is the story I fail to put into words.” – Destin Sparks.</p>
    </div>
    <div class="more-about">
        <div class="content">
            <h1>Something More</h1>
            <p>It is often assumed that photography began life in the 19th century as a document and it was only in late twentieth century that its potential as an art form was recognised. But the question of photography’s relationship to art has been a staple of discussions on photography since the new technology was made known to the public in 1839</p>
        </div>
        <img src="./camera-lense.png" alt="Image">
    </div>
    <br>
    <br>
    <hr>
    <div class="photos">
        <h1>Photos</h1>
        <div class="all-photos">
            <div class="hidden"><img src="./photo-one.jpg" alt="image"></div>
            <div class="hidden"><img src="./photo-two.jpg" alt="image"></div>
            <div class="hidden"><img src="./photo-three.jpg" alt="image"></div>
            <div class="hidden"><img src="./photo-four.jpg" alt="image"></div>
            <div class="hidden"><img src="./photo-five.jpg" alt="image"></div>
            <div class="hidden"><img src="./photo-six.jpg" alt="image"></div>
        </div>
    </div>
    <footer>
        CopyWrite : prateek.art2002@gmail.com
    </footer>
</body>
</html>