* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
}

.front-page {
    background-image: url("./bgImage.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    position: fixed;
    width: 100vw;
    top: 0px;
    height: 60px;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 10px 0px;
    padding-right: 20px;
}

.navbar ul li {
    margin: 10px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li:hover {
    border-bottom: 2px solid yellow;
    margin-bottom: 8px;
    cursor: pointer;
}

.navbar h4 {
    margin: 10px;
    padding: 10px 0px;
}

.front-page h1 {
    color: yellow;
    font-size: 60px;
    padding: 40vh 0vh;
    padding-bottom: 0px;
}

.front-page p {
    color: white;
}

.content {
    width: 500px;
    margin: 30px;
    margin-top: 200px;
}

.more-about img {
    width: 300px;
    height: 307px;
    margin: 150px 100px 30px 0px;
    animation: rotation 15s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.more-about {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.photos h1 {
    text-align: center;
    margin: 30px 0px;
}

.photos .all-photos {
    text-align: center;
}

.photos .all-photos .hidden img {
    width: 300px;
    height: 300px;
    transition: all 0.3s;
}

.all-photos img:hover {
    transform: scale(1.2);
}

.photos .all-photos .hidden {
    display: inline-block;
    overflow: hidden;
    border: 2px solid black;
    margin: 40px;
    height: 300px;
}

@media only screen and (max-width: 616px) {
    .more-about {
        display: block;
    }
    .content{
        width: 60vw;
        margin: auto;
        margin-top: 30px;
    }
    .more-about img {
        width: 200px;
        height: 200px;
        margin: 30px 0px 30px 130px;
        animation: rotation 15s linear infinite;
    }
    .front-page p{
        width: 300px;
        margin: auto;
    }
    .navbar{
        width: 100vw;
    }
    .front-page h1{
        width: 50px;
        margin: auto;
        padding-left: 20px;
        padding-right: 300px;
    }
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 30px;
}

.form{
    display: block;
    width: 300px;
    margin: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.555);
    position: relative;
    top: 140px;
    padding-left: 20px;
    padding-top: 20px ;
    padding-bottom: 20px;
    border-radius: 10px;
}
.form p{
    margin: 10px;
}
.form input, .form textarea{
    margin: 10px;
}
.form input{
    width: 250px;
    height: 30px;
}


.submit{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 251, 0);
    position: relative;
    border: 1px solid yellow;
    font-weight: bold;
    top: -10px;
    left: -11px;
    transition: all 0.6s;
    z-index: 1;
}
.button:hover .submit{
    color: rgb(0, 0, 0);
}
.button .slider{
    background-color: rgb(255, 251, 0);
    width: 248px;
    height: 30px;
    position: relative;
    bottom: 50px;

    transform: translateX(-100%); 
     transition: transform 0.4s; 
}
.button:hover .slider {
    transform: translateX(0%);
}
.button:active .slider{
    background-color: rgb(0, 255, 0);
}
.button{
    width: 250px;
    height: 30px;
    margin-left: 10px;
    padding-left: 1px;
    overflow: hidden;
}